@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.container_large {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

:root {
    --blue:#0084fd;
    --violet: #9792e4;
    --azure: #b5ddff;
}

/* HEADER NAV =================================================*/

.header_nav {
    align-items: center;
    background-color: var(--blue);
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header_nav ul {
    gap: 2rem;
}

.header_nav .container_large {
    width: 100%;
    justify-content: space-between;
}

.container_large,
.header_nav .container_large ul {
    align-items: center;
}

.header_nav li {
    white-space: nowrap;
}

.header_nav li a:not(.button_white) {
    color: #fff;
}

.header_nav .button_white {
    background-color: #fff;
    color: #000;
    padding: 0.6rem 1rem;
    border-radius: 19px;
}

.button_nav_mobile {
    display: none;
    color: #fff;
}


.menu_mobile {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu_mobile i {
    width: 1rem;
    aspect-ratio: 1/1;
}

.menu_mobile i::before {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/* VERSION TABLET */
/* VERSIONE MOBILE */
@media screen and (max-width: 810px) {
    .button_nav_mobile {
        display: block;
    }

    .header_nav .container_large ul {
        padding-right: 20px;
        border-bottom-left-radius: 20px;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 99%;
        right: 0;
        left: 50%;
        gap: 20px;
        background-color: var(--blue);
        transition: height 0.5s;
        z-index: 10;
    }

    .header_nav .container_large ul li:first-child {
        margin-top: 10px;
    }

    .header_nav #menu_mobile:checked~ul {
        height: 220px;
        overflow: hidden;
    }
    
    .header_nav #menu_mobile:not(:checked)~ul {
        height: 0;
        overflow: hidden;
    }

    .header_nav #menu_mobile:checked~.button_nav_mobile .fa-bars {
        display: none;
    }

    .header_nav #menu_mobile:checked~.button_nav_mobile .fa-xmark {
        display: block;
    }

    .header_nav #menu_mobile:not(:checked)~.button_nav_mobile .fa-bars {
        display: block;
    }

    .header_nav #menu_mobile:not(:checked)~.button_nav_mobile .fa-xmark {
        display: none;
    }
}

/* FIRST SECTION APP STORE */

.app_store {
    padding: 124px 0 105px;
}

.app_store li {
    background-color: var(--azure);
    border-radius: 20px;
}

.app_store ul {
    flex-wrap: wrap;
    gap: 1.5rem;
}

.app_store li {
    padding: 2rem 1.5rem;
}

.app_store li.flex {
    flex-grow: 2;
    flex-basis: calc(((100% - 24px) / 3) * 2);
}

.app_store li:not(li.flex) {
    flex-grow: 1;
    flex-basis: calc((100% - 24px * 2) / 3);
    text-align: center
}

.app_store li:not(li.flex) i {
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--blue);
}

.app_store li h2 {
    margin-bottom: 1.5rem;
    color: var(--blue);
    font-size: 1.4rem;
}

.app_store li p {
    line-height: 2rem;
    font-weight: bold;
    color: #5a6e7f;
    font-size: 1.05rem;
}

.app_store li .button_blue {
    display: block;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: calc(47px / 2);
    margin-top: 30px;
    padding: 0.75rem 0;
    max-width: 223px;
}

.app_store li.flex > * {
    flex-grow: 1;
    flex-basis: 0;
}

.app_store li.flex > .right {
    text-align: center;
    position: relative;
}

.app_store li.flex > .right img {
    max-width: 250px;
    margin-bottom: -2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* VERSION TABLET */
@media screen and (max-width: 810px) {
    .app_store li.flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .app_store li.flex > .right img {
        max-width: 250px;
        margin-bottom: -2rem;
        position: relative;
        top: 5px;
        margin-top: 35px;
    }
}

/* VERSION MOBILE */
@media screen and (max-width: 414px) {
    .app_store {
        padding: 124px 0 80px;
    }

    .app_store li.flex > .right {
        align-self: center;
    }

    .app_store li {
        flex-wrap: 1;
        flex-basis: 100% !important;
    }
}

/* SECCOND SECTION STRATEGIC PLANNING */

.strategic {
    background-color: var(--violet);
    padding: 125px 0 62px;
}

.strategic .container_small {
    max-width: 934px;
    padding: 0 30px;
    margin: 0 auto;
    gap: 62px;
    align-items: flex-end;
}

.strategic .container_small .left {
    flex-grow: 11;
    flex-basis: 0;
    color: #fff;
}

.strategic .container_small img {
    width: 100%;
}

.strategic .container_small .left img {
    margin-bottom: 120px;
}

.strategic .container_small .left h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.strategic .container_small .left p {
    line-height: 1.7rem;
    font-size: 0.95rem;
}

.strategic .container_small .right {
    padding: 30px;
    background-color: #fff;
    border-radius: 45px;
    text-align: center;
    flex-grow: 9;
    flex-basis: 0;
}

.strategic .container_small .right img {
    max-width: 75%;
    margin-bottom: 18px;
}

.strategic .container_small .right h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.strategic .container_small .right p {
    line-height: 2rem;
    margin-bottom: 30px;
}

.strategic .container_small .right i {
    padding: 1rem;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--violet);
}

/* VERSION TABLET */
@media screen and (max-width: 810px) {
    .strategic .container_small {
        flex-direction: column;
        gap: 35px;
    }
}

/* VERSION MOBILE */
@media screen and (max-width: 414px) {
    .strategic {
        padding: 66px 0 62px;
    }
}

/* THIRD SECTION TESTIMONIALS */

.testimonials {
    padding: 65px 0 79px;
}

.testimonials .texts {
    text-align: center;
}

.testimonials .texts h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
}

.testimonials .texts h2 {
    margin-bottom: 30px;
    font-size: 3rem;
    color: var(--violet);
}

.testimonials .texts p {
    line-height: 2rem;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

.testimonials .card {
    background-color: var(--violet);
    border-radius: 40px;
    padding: 30px 40px 48px 16px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
    margin-bottom: 33px;
}

.testimonials .card img {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.testimonials .card .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    flex-grow: 1;
}

.testimonials .card p:not(.name) {
    font-size: 1.2rem;
    line-height: 2rem;
}

.testimonials .card p.name {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* VERSION MOBILE */
@media screen and (max-width: 414px) {
    .testimonials .texts h2 {
        font-size: 2.2rem;
    }

    .testimonials .card {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap: 1rem;
    }
}

/* FOURT SECTION BENEFITS OF WORKING WITH US */

.benefits {
    padding: 80px 0 64px;
    background-color: var(--violet);
}

.benefits .container_large {
    text-align: center;
}

.benefits h2 {
    margin-bottom: 75px;
    font-size: 45px;
    color: #fff;
}

.benefits .cards {
    gap: 2rem;
    flex-wrap: wrap;
    text-align: left;
}

.benefits .cards .card {
    flex-grow: 1;
    flex-basis: calc((100% - 2rem * 2) / 3);
    background-color: #fff;
    color: var(--violet);
    padding: 2rem;
    border-radius: 18px;
}

.benefits .cards .card p {
    color: #818181;
    line-height: 1.8rem;
}

.benefits .cards .card a {
    background-color: var(--violet);
    padding: 10px;
    max-width: 142px;
    display: block;
    text-align: center;
    border-radius: calc(39px / 2);
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

.benefits .cards .card .num {
    margin-bottom: 0.7rem;
    font-size: 4.5rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

.benefits .cards .card h3 {
    margin-bottom: 28px;
    font-size: 1.3rem;
}

.benefits .cards .card p {
    margin-bottom: 28px;
}

/* VERSION TABLET */
@media screen and (max-width: 810px) {
    .benefits .cards .card {
        flex-basis: calc((100% - 2rem) / 2);
    }
}

/* VERSION MOBILE */
@media screen and (max-width: 414px) {
    .benefits .cards .card {
        flex-basis: 100%;
    }
}
