@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.container_large {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

/* HEADER NAV =================================================*/

.header_nav {
    align-items: center;
    background-color: var(--blue);
    height: 75px;
}

.header_nav ul {
    gap: 2rem;
}

.header_nav .container_large {
    width: 100%;
    justify-content: space-between;
}

.container_large,
.header_nav .container_large ul {
    align-items: center;
}

.header_nav li {
    white-space: nowrap;
}

.header_nav li a:not(.button_white) {
    color: #fff;
}

.header_nav .button_white {
    background-color: #fff;
    color: #000;
    padding: 0.6rem 1rem;
    border-radius: 19px;
}

.button_nav_mobile {
    display: none;
    color: #fff;
}


.menu_mobile {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu_mobile i {
    width: 1rem;
    aspect-ratio: 1/1;
}

.menu_mobile i::before {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/* VERSION TABLET */
/* VERSIONE MOBILE */
@media screen and (max-width: 810px) {
    .button_nav_mobile {
        display: block;
    }

    .header_nav {
        position: relative;
    }

    .header_nav .container_large ul {
        padding-right: 20px;
        border-bottom-left-radius: 20px;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 99%;
        right: 0;
        left: 50%;
        gap: 20px;
        background-color: var(--blue);
        transition: height 0.5s;
        z-index: 10;
    }

    .header_nav .container_large ul li:first-child {
        margin-top: 10px;
    }

    .header_nav #menu_mobile:checked~ul {
        height: 220px;
        overflow: hidden;
    }
    
    .header_nav #menu_mobile:not(:checked)~ul {
        height: 0;
        overflow: hidden;
    }

    .header_nav #menu_mobile:checked~.button_nav_mobile .fa-bars {
        display: none;
    }

    .header_nav #menu_mobile:checked~.button_nav_mobile .fa-xmark {
        display: block;
    }

    .header_nav #menu_mobile:not(:checked)~.button_nav_mobile .fa-bars {
        display: block;
    }

    .header_nav #menu_mobile:not(:checked)~.button_nav_mobile .fa-xmark {
        display: none;
    }
}

/* FIRST SECTION APP STORE */

.app_store {
    padding: 50px 0 105px;
}

.app_store li {
    background-color: #b5ddff;
    border-radius: 20px;
}

.app_store ul {
    flex-wrap: wrap;
    gap: 1.5rem;
}

.app_store li {
    padding: 2rem 1.5rem;
}

.app_store li.flex {
    flex-grow: 2;
    flex-basis: calc(((100% - 24px) / 3) * 2);
}

.app_store li:not(li.flex) {
    flex-grow: 1;
    flex-basis: calc((100% - 24px * 2) / 3);
    text-align: center
}

.app_store li:not(li.flex) i {
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: #0084fd;
}

.app_store li h2 {
    margin-bottom: 1.5rem;
    color: #0084fd;
    font-size: 1.4rem;
}

.app_store li p {
    line-height: 2rem;
    font-weight: bold;
    color: #5a6e7f;
    font-size: 1.05rem;
}

.app_store li .button_blue {
    display: block;
    text-align: center;
    background-color: #0084fd;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: calc(47px / 2);
    margin-top: 30px;
    padding: 0.75rem 0;
    max-width: 223px;
}

.app_store li.flex > * {
    flex-grow: 1;
    flex-basis: 0;
}

.app_store li.flex > .right {
    text-align: center;
    position: relative;
}

.app_store li.flex > .right img {
    max-width: 250px;
    margin-bottom: -2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* VERSION TABLET */
@media screen and (max-width: 810px) {
    .app_store li.flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .app_store li.flex > .right img {
        max-width: 250px;
        margin-bottom: -2rem;
        position: relative;
        top: 5px;
        margin-top: 35px;
    }
}

/* VERSION MOBILE */
@media screen and (max-width: 414px) {
    .app_store li.flex > .right {
        align-self: center;
    }

    .app_store li {
        flex-wrap: 1;
        flex-basis: 100% !important;
    }
}