@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.container_large {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

/* HEADER NAV =================================================*/

.header_nav {
    align-items: center;
    background-color: var(--blue);
    height: 75px;
}

.header_nav ul {
    gap: 2rem;
}

.header_nav .container_large {
    width: 100%;
    justify-content: space-between;
}

.container_large,
.header_nav .container_large ul {
    align-items: center;
}

.header_nav li {
    white-space: nowrap;
}

.header_nav li a:not(.button_white) {
    color: #fff;
}

.header_nav .button_white {
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 19px;
}

.button_nav_mobile {
    display: none;
    color: #fff;
}


.menu_mobile {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu_mobile i {
    width: 1rem;
    aspect-ratio: 1/1;
}

.menu_mobile i::before {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 810px) {
    .button_nav_mobile {
        display: block;
    }

    .header_nav {
        position: relative;
    }

    .header_nav .container_large ul {
        padding-right: 20px;
        border-bottom-left-radius: 20px;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 99%;
        right: 0;
        left: 50%;
        gap: 20px;
        background-color: var(--blue);
        transition: height 0.5s;
        z-index: 10;
    }

    .header_nav .container_large ul li:first-child {
        margin-top: 10px;
    }

    .header_nav #menu_mobile:checked~ul {
        height: 220px;
        overflow: hidden;
    }
    
    .header_nav #menu_mobile:not(:checked)~ul {
        height: 0;
        overflow: hidden;
    }

    .header_nav #menu_mobile:checked~.button_nav_mobile .fa-bars {
        display: none;
    }

    .header_nav #menu_mobile:checked~.button_nav_mobile .fa-xmark {
        display: block;
    }

    .header_nav #menu_mobile:not(:checked)~.button_nav_mobile .fa-bars {
        display: block;
    }

    .header_nav #menu_mobile:not(:checked)~.button_nav_mobile .fa-xmark {
        display: none;
    }
}